<!--
  Generated template for the Meddetails page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
    <!--<ion-header>-->

    <ion-navbar>
        <ion-title>Home
            < Medication < New medication</ion-title>
    </ion-navbar>
    <ion-list>
        <form (ngSubmit)="saveMedicine()">
            <ion-item>
                <ion-label floating>Description</ion-label>
                <ion-input name="med_description" type="text" [(ngModel)]="todo.description"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>Dosages</ion-label>
                <ion-input name="med_dosages" type="text" [(ngModel)]="todo.dosages"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Time to take medicine</ion-label>
                <ion-datetime name="med_datetime" displayFormat="HH:mm" [(ngModel)]="todo.datetime">
                </ion-datetime>
            </ion-item>

            <ion-item>
                <ion-label>Alarm</ion-label>
                <ion-checkbox name="med_alarm" [(ngModel)]="todo.alarm"></ion-checkbox>
            </ion-item><br>
            <button ion-button round center large type="submit">Save</button>
        </form><br><br>
        <button *ngIf="medId" color="danger" large ion-button round (click)="deleteMedicine()">Delete</button>
        <button *ngIf="medId" color="danger" large ion-button round (click)="addNotification()">Test alarm</button>
    </ion-list>
    <!--</ion-header>-->
</ion-content>