<ion-content padding>
    <ion-list><br><br><br>
        <button *ngIf="todo.phone" color="primary" small ion-button (click)="makeCall()">Call</button>
        <button *ngIf="todo.phone" color="primary" small ion-button (click)="sendSMS()">SMS</button>
        <form (ngSubmit)="saveData()">
            <ion-item>
                <ion-label floating>Name</ion-label>
                <ion-input name="care_name" type="text" [(ngModel)]="todo.name"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>Email</ion-label>
                <ion-input name="care_email" type="text" [(ngModel)]="todo.email"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>Phone</ion-label>
                <ion-input name="care_phone" type="number" [(ngModel)]="todo.phone"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Address</ion-label>
                <ion-input name="care_address" type="text" [(ngModel)]="todo.address"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Notes</ion-label>
                <ion-input name="care_notes" type="text" [(ngModel)]="todo.notes"></ion-input>
            </ion-item><br>

            <button ion-button round small large type="submit">Save</button>
        </form><br>
        <button *ngIf="todo.id" color="danger" round small ion-button (click)="deleteData()">Delete</button>
    </ion-list>
</ion-content>