page-home {
  a {
    color: #FFF;
    text-decoration: underline;
    cursor: pointer;
    &.more-options, &.header-anchor {
      text-decoration: none;
    }
  }
  ion-header {
    &.header-md::after {
      background: none;
    }
    ion-navbar {
      .toolbar-background {
        background: none;
      }
      ion-buttons {
        color: #FFF;
      }
    }
  }
  ion-content {
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    img {
      margin-bottom: 2em;
    }
    h4 {
      color: #FFF;
    }
    [ion-button] {
      box-shadow: none;
    }
    .facebook-login {
      background: #FFF;
      color: #21c6db;
      &.activated {
        background-color: #FFF !important;
      }
    }
    .create-account {
      background: none;
      border: 1px solid #FFF;
      color: #FFF;
      &.activated {
        background: none !important;
      }
    }
    p {
      color: #FFF;
      opacity: 0.5;
      font-size: 12px;
    }
  }
}
