<ion-content padding>
    <img src="assets/icon/addnew.ico" width="50" (click)="gotoCaregiverDetails()">
    <ion-list>
        <ion-item *ngFor="let caregiver of caregivers" (click)="openCare(caregiver['id'])">
            <ion-thumbnail item-left>
                <img src="assets/icon/caregiver.ico">
            </ion-thumbnail>
            <h2>{{caregiver['name']}}</h2>
            <h3>
                <ion-icon name="call" *ngIf="caregiver['phone']"></ion-icon> {{caregiver['phone']}}</h3>
            <h3>
                <ion-icon name="compass" *ngIf="caregiver['address']"></ion-icon> {{caregiver['address']}}</h3>
        </ion-item>
    </ion-list>
</ion-content>