<ion-header>
   <ion-toolbar>

    <ion-title>
      <ion-label class="toolbartitle">Contact Us</ion-label>
    </ion-title>

    <ion-buttons left>
      <button class="btnTopWhite" ion-button icon-only (click)="closeWindow()">
        <ion-icon name="arrow-dropleft"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>
    
    <ion-label class="labelTransBg">We want to hear from you!</ion-label>

    <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>

    <ion-list no-lines>
        
        <form [formGroup]="contactForm">
            
            <ion-item class="labelForm">
                <ion-label>First Name<sup>*</sup></ion-label>
            </ion-item>
            
            <ion-item>
                <ion-input class="formFill" formControlName="firstName" type="text"  [class.invalid]="!contactForm.controls.firstName.valid && (contactForm.controls.firstName.dirty || submitAttempt)"></ion-input>
            </ion-item>

            <ion-item *ngIf="!contactForm.controls.firstName.valid  && (contactForm.controls.firstName.dirty || submitAttempt)">
                <p>Please enter a valid first name.</p>
            </ion-item>

            <ion-item class="labelForm">
                <ion-label>Last Name<sup>*</sup></ion-label>
            </ion-item>

            <ion-item>
                <ion-input class="formFill" formControlName="lastName" type="text" [class.invalid]="!contactForm.controls.lastName.valid && (contactForm.controls.lastName.dirty || submitAttempt)"></ion-input>
            </ion-item>

            <ion-item *ngIf="!contactForm.controls.lastName.valid  && (contactForm.controls.lastName.dirty || submitAttempt)">
                <p>Please enter a valid last name.</p>
            </ion-item>

            <ion-item class="labelForm">
                <ion-label>Email Address<sup>*</sup></ion-label>
            </ion-item>

            <ion-item>
                <ion-input class="formFill" formControlName="email" type="text" [class.invalid]="!contactForm.controls.email.valid && (contactForm.controls.email.dirty || submitAttempt)"></ion-input>
            </ion-item>

            <ion-item *ngIf="!contactForm.controls.email.valid  && (contactForm.controls.email.dirty || submitAttempt)">
                <p>Please enter a valid email.</p>
            </ion-item>

            <ion-item class="labelForm">
                <ion-label>Please tell us how we can help you:</ion-label>
            </ion-item>

            <ion-item>
                <ion-textarea class="formFill" formControlName="description" type="text"></ion-textarea>
            </ion-item>

            <ion-item class="labelForm">
                <ion-label>I'm interested in:</ion-label>
            </ion-item>

            <ion-item>
                    <ion-select class="formFill" formControlName="interest" multiple="true">
                        <ion-option value="patientResources">Patient Resources</ion-option>
                        <ion-option value="rareREACH">rareREACH</ion-option>
                        <ion-option value="research">Research</ion-option>
                        <ion-option value="pressMedia">Press/Media</ion-option>
                        <ion-option value="business">Business</ion-option>
                        <ion-option value="donor">Donor</ion-option>
                        <ion-option value="volunteer">Volunteer</ion-option>
                        <ion-option value="intlInquiries">International Inquiries</ion-option>
                        <ion-option value="other">Other</ion-option>
                    </ion-select>
                </ion-item>
        </form>
    </ion-list>
</ion-content>

<ion-footer no-border>
    <ion-toolbar>
        <ion-title>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <button class="btnSave" ion-button medium block (click)="submitContactInfo()">Submit</button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-footer>