<ion-menu type="overlay" [content]="mycontent" swipeEnabled="false">
    <ion-content>
        <ion-list>
            <ion-list-header text-center>More Menu</ion-list-header>
            <button ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">
                 {{p.title}}
            </button>
            <ion-list-header text-center>Rare Genomic Institute</ion-list-header>
            <button ion-item menuClose *ngFor="let p1 of rgiMenuItems" (click)="openPage(p1)">
                 {{p1.title}}
            </button>
            <ion-list-header text-center>Settings</ion-list-header>
            <button ion-item menuClose *ngFor="let p2 of settingsMenuItems" (click)="openPage(p2)">
                 {{p2.title}}
            </button>
            <ion-item text-center><button menuClose class="signOutMenuItem" (click)="signOut()">Sign out</button></ion-item>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-header color="dark">
    <ion-toolbar no-border color="dark">
        <ion-grid>
            <ion-row>
                <button ion-button menuToggle class="btnTopWhite"><ion-icon name="menu"></ion-icon></button>
                <ion-col>
                    <img src="assets/images/logo.png" height="40" (click)="gotoHome()"><br>
                    <font color="white">home</font>
                </ion-col>
                <ion-col>
                    <img src="assets/icon/rareshare.png" height="40" (click)="gotoRareshare()"><br>
                    <font color="white">rareshare</font>
                </ion-col>
                <ion-col>
                    <img src="assets/icon/caregiver.png" height="40" (click)="gotoCaregiver()"><br>
                    <font color="white">caregiver</font>
                </ion-col>
                <ion-col>
                    <img src="assets/icon/profile.png" height="40" (click)="gotoProfile()"><br>
                    <font color="white">profile</font>
                </ion-col>
                <ion-col>
                    <img src="assets/icon/911.png" height="40" (click)="callEmergency()"><br>
                    <font color="white">emergency</font>
                </ion-col>
                <!--<ion-col>
                    <button class="btnEmergency" (click)="callEmergency()"><b>911</b></button>
                </ion-col>-->
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-nav #mycontent [root]="rootPage"></ion-nav>
</ion-content>

<ion-footer no-border>
    <ion-toolbar color="dark" no-border>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <img src="assets/icon/calendar.png" height="40" width="40"><br>
                    <font color="white">calendar</font>
                </ion-col>
                <ion-col>
                    <img src="assets/icon/records.png" height="40" width="40"><br>
                    <font color="white">records</font>
                </ion-col>
                <ion-col>
                    <img src="assets/icon/health.png" height="40" width="40"><br>
                    <font color="white">health data</font>
                </ion-col>
                <ion-col>
                    <img src="assets/icon/medication.png" height="40" width="40" (click)="gotoMedicationHome()"><br>
                    <font color="white">medications</font>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>