page-patient-profile {

    textarea {
        max-width: 100%;
        width: 100%;
        height: 30vh;
    }

    .patientPhoto {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .formSelect {
        color: white;
        background: rgba(0, 0, 0, 0.3);
        padding: 0;
        text-align: center;
        margin: 0 auto;
        flex: 2;
    }

    .formSelectRow {
        color: white;
        background: rgba(0, 0, 0, 0.3);
        display: flex !important;
        padding: 0;
        text-align: center;
        margin: 0 auto;
        flex: 3;
    }

    .addBtn {
        width: 0.1em;
        border-radius: 50%;
        background: transparent;
        color: white;
        flex: 1;
    }

}
